# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of languages used in Data Science
- List of tools used in Data Science
- Simple arithmetic operations in Python using Jupyter Notebook
- Creating rich text in Markdown cells in Jupyter Notebook

## Author
Bhagyashree Joshi

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Scala
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot in R
2. GGally in R
3. caret in R
4. Pandas in Python
5. NumPy in Python
6. matplotlib in Python
7. seaborn in Python

| Data Science Tools |
-------------------------------
| Jupyter lab |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335